* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.side-bar {
    position: absolute;
    left: 0;
    z-index: 10;
    overflow: hidden;
    height: 100vh;
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(12, 12, 12);
    transition: 0.6s;

}

.side-bar:hover.active{
    width: 220px;
}
.side-bar .nav-icon {
    height: 20%;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-bar .nav-icon .navbar-icon{
    width: 30px;
    transition: 0.3s;
}

.side-bar:hover.active .nav-icon .navbar-icon.active{
    display: none;
}
.side-bar .nav-icon span {
    font-size: 0.3em;
    font-weight: 700;
    color: white;
    display: none;
    transition: 0.3s;
}
.side-bar:hover.active .nav-icon span{
    display: inline-block;
    font-size: 1.5em;

}

.side-bar .nav-icon .Spotify-logo {
    display: none;
    width: 0;
    transition: 0.3s;
}

.side-bar:hover.active .nav-icon .Spotify-logo {
    display: inline-block;
    width: 60px;
}

.side-bar ul {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.side-bar ul li {
    list-style: none;

}

.side-bar ul li a {
    text-decoration: none;
    height: 70px;
    width: 70px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    font-size: 0.9em;
}

.side-bar:hover.active ul li a {
    width: 190px;
}

.side-bar ul li a svg {
    width: 25px;
}

.side-bar ul li a:hover {
    background: rgb(26, 25, 25);
    color: white;

}
.side-bar ul li a span{
    font-size: 1em;
    display: none;
    transition: 0.3s;
}
.side-bar:hover.active ul li a span{
    display: inline-block;
    padding: 0 10px;
}